.footer {
  background: url(../img/grey_background.jpg);
  height: 5vh;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);

  .container {
    display: flex;
    justify-content: center;
  }

  .container span {
    line-height: 22px;
  }

  a {
    text-decoration: none;
    color: black;
    z-index: 500
  }
}
