.navigation {
  position: sticky;
  top: 0;
  height: 5.5rem;
  z-index: 2;
  text-transform: uppercase;
  background: url(../img/nav_background.jpg);
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;

  .login {
    position: absolute;
    background: white;
    text-shadow: none;
    color: black;
    font-size: 14px;
    border: 1px solid black;
    z-index: 1;
    right: 25px;

    .logout {
      background-color: white;
      width: 100px;
      height: 30px;
      text-decoration: underline;
      position: absolute;
      right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
    }

    .loginError {
      color: red;
      display: flex;
      justify-content: center;
      font-size: 12px;
      margin: 0.3rem 0 0.5rem;
    }

    .registerLink {
      display: flex;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 0.8rem;
      font-size: 12px;
      padding: 0.1rem;

      .settingsLink {
        margin-left: 0.3rem;
        text-decoration: underline;
      }
    }

    .loginForm {
      display: flex;
      width: 220px;
      flex-direction: column;
      padding: 0.5rem;

      .formError {
        margin-bottom: 1rem;
        color: red;
      }

      input {
        margin: 0.2rem 0 0.2rem 0
      }

      button {
        margin-top: 1rem;
      }
    }
  }

  .navInitials {
    font-weight: 700;
    position: relative;
    margin-right: auto;
  }

  a {
    color: white;
  }

  li {
    list-style-type: none;
    display: inline;
    padding: 15px 35px 0 0;

    &:last-of-type {
      padding-right: 0;
    }

    &:nth-child(2) {
      text-transform: none;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    i {
      padding-right: 5px;
    }

    a {
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .container {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
    }
  }

  .google-sign-in {
    margin-top: -9px;

    &:hover {
      cursor: pointer;
    }
  }
}
