.signUpContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;

  .formError,
  .loginError {
    margin: -1rem 0 1.5rem 0;
    color: red;
  }

  input {
    margin-bottom: 1.5rem;
  }

  .btn {
    width: 15rem;
  }

  fieldset {
    display: flex;
    flex-direction: row;

    legend {
      border: none;
      font-size: 1.6rem;
      margin-bottom: 0.4rem;
      text-decoration: underline;
    }

    div span {
      margin-right: 0.5rem;
    }
  }
}
