.mainWrapper {
  height: calc(95vh - 5.5rem);
  background: url(../img/grey_background.jpg);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.83);
  z-index: 0;
  overflow-y: scroll;

  .main {
    padding: 2rem;
  }
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

@import "tooltip";
@import "footer";
@import "navigation";
@import "animate";
@import "settings";
@import "properties";

body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f4f7fc;
  overflow-y: hidden;
}
